<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin">
            <mat-icon matListItemIcon> house</mat-icon>Home
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon matListItemIcon> account_circle</mat-icon>Profile
        </button>
        <button mat-list-item routerLink="/admin/categories">
            <mat-icon matListItemIcon> list</mat-icon>Categories
        </button>
        <button mat-list-item routerLink="/admin/add-category">
            <mat-icon matListItemIcon> add_circle_outline</mat-icon>Add Category
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon matListItemIcon> quiz</mat-icon>Quiz
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon matListItemIcon> book</mat-icon>Add Quizes
        </button>
    </mat-action-list>
</mat-card>