<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_book</mat-icon>
    </button>
    <span>Exam Portal</span>
    <span class="example-spacer"></span>
    <a *ngIf="!isLoggedIn" routerLink="/login" mat-icon-button class="me-3 fs-6">
        Login
    </a>
<a *ngIf="!isLoggedIn" routerLink="/signup" mat-icon-button class="me-4 fs-6">
    Register
</a>

<a (click)="logOut()" *ngIf="isLoggedIn"  class="fs-6 me-2"  mat-button>
    Logout
</a>
<a *ngIf="isLoggedIn && user" class="fs-6" routerLink="/admin/profile" mat-button>
    {{login.getUser().username}}
</a>
</mat-toolbar>